@font-face {
    font-family: MyriadPro-Regular;
    src: url(../../fonts/MyriadPro-Regular.otf);
}

@font-face {
    font-family: MyriadPro-Italic;
    src: url(../fonts/MyriadPro-It.otf);
}

@font-face {
    font-family: MyriadPro-Condensed;
    src: url(../fonts/MyriadPro-Cond.otf);
}

@font-face {
    font-family: MyriadPro-CondensedItalic;
    src: url(../fonts/MyriadPro-CondIt.otf);
}

@font-face {
    font-family: MyriadPro-Bold;
    src: url(../fonts/MyriadPro-Bold.otf);
}

@font-face {
    font-family: MyriadPro-BoldItalic;
    src: url(../fonts/MyriadPro-BoldIt.otf);
}

@font-face {
    font-family: MyriadPro-Semibold;
    src: url(../fonts/MyriadPro-Semibold.otf);
}

@font-face {
    font-family: MyriadPro-SemiboldItalic;
    src: url(../fonts/MyriadPro-SemiboldIt.otf);
}

@font-face {
    font-family: MinionPro;
    src: url(../fonts/MinionPro.ttf);
}