---
layout: page
title: Portfolio
description: s
---
<div class="box alt">
    <div class="row uniform 50%">
{% for category in site.categories %}
{% if category contains 'portfolio' %}
    {% for posts in category %}
        {% for post in posts %}
            {% if post.url %}
            
				
				    <div class="6u" style="padding-left: 5%; padding-right: 5%; padding-bottom: 5%"><span class="image fit"><a href="{{ post.url }}"><img src="../assets/img/portfolio-thumb/{{ post.thumb }}.jpg" alt="" />{{ post.title }}</a></span></div>
                
            
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
{% endfor %}
    </div>
</div>