---
layout: page
title: Events
tags: events
description: everything else
---
<div class="box alt">
    <div class="row uniform 50%">
{% for category in site.categories %}
{% if category contains 'portfolio' %}
    {% for posts in category %}
        {% for post in posts %}
            {% if post.url and post.categories.last contains 'events' %}

            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
              {% if thecycle == 'odd' %}
                <div class="6u" id="gallery" style="padding-left: 5%; padding-right: 5%; padding-bottom: 5%">
              {% elsif thecycle == 'even' %}
				        <div class="6u" id="gallery" style="padding-left: 5%; padding-right: 4.8%; padding-bottom: 5%">
              {% endif %}
                        <div class="image fit container">
                            <img src="{{ "/images/portfolio/thumb/events/" | append: post.imagename | append: ".jpg" | prepend: site.baseurl | prepend: site.url }}" alt="" /><h4>{{ post.title }}</h4>
                            <a href="{{ post.url }}" class="overlay">
                                <div class="text">View Album</div>
                            </a>
                        </div>
                    </div>


            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
{% endfor %}
    </div>
</div>
