---
layout: default
---
<article id="main">

  <header>
    <h2>{{ page.title }}</h2>
    <p>{{ page.description }}</p>
  </header>

  <section class="wrapper style5">
    <div class="inner">
      {% if page.categories contains 'blog' %}
        <div style="font-size: 14pt; font-family: 'Muli', 'Open Sans', Helvetica, sans-serif;" id="blogwords" style="margin: auto">
            {{ content }}
        </div>
      {% elsif page.categories contains 'portfolio' %}
        <div id="pfwords">
            {{ content }}
        </div>
        <div class="box alt">
            <div class="row uniform 50%">
                {% for image in site.static_files %}
                {% if image.path contains 'images/portfolio/posts' %}
                {% capture img %}
                {{ image.basename }}
                {% endcapture %}
                {% capture adjustedimg %}
                {{ img | truncatewords: 1, "" }}
                {% endcapture %}
                    {% if adjustedimg contains page.imagename %}
				        <div class="12u"><span class="image fit"><img src="{{ site.baseurl | prepend: site.url }}{{ image.path }}" alt="image" /></span></div>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
      {% endif %}
    </div>
  </section>

</article>
